.admin-m-a-u{
    box-shadow: 0 3px 6px #8B5E3C;
}

.text-success {
    color: #2a9d8f !important;
}

.user-card {
    border-radius: 10px;
    height: 100%;
    text-align: center;
    background-color: #ffffff;
    box-shadow: 0 1px 3px #809D3C !important;
    transition: transform 0.2s;
}

.user-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px #809D3C !important;
}

.card-title {
    color: #264653;
    font-size: 1.2em;
}

.card-text {
    color: #264653;
    font-size: 1em;
}

@media (max-width: 768px) {
    .user-card {
        width: 90%;
    }
}
